body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:url(bg.jpg);
    background-size: cover;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width:  300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: #49c1a2;

}
.Logo img
{
    
    width: 180px;
    float: left;
    padding-left: 4%;
    padding-top: 1%;
    text-align: center;
    
}
.box
{
    width: 20%;
    height: 45%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.753);
    text-align: center;
}

.box h1{
    margin-top: 1%;
    color: whitesmoke;
    font-size: xx-large;
    font-family: Georgia,serif;
    font-weight: 700;

}
.box input[type="text"],[type="password"]
{
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    outline: none;
    height: 50px;
    color: whitesmoke;
    font-size: 16px;
    display: flex;

    
}

.box input[type="submit"]
{
    
    color: black;
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 8%;
    margin-bottom: 5%;
}
.box input[type="submit"]:hover
{
    background: rgba(241, 1, 1, 0.315);
}
.sign-up
{
    color: black;
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10%;
}
.sign-up[type="button"]:hover
{
    background: rgba(241, 1, 1, 0.315);
}
.content 
{
    width: 60%;
    height: 45%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color:rgba(243, 150, 150, 0);
    text-align: left;
    color: white;
}
    

.content .par
{
    margin-top: 1%;
    color: rgb(238, 197, 197);
    font-size: 100px;
    font-family: Georgia,serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 5px;
    text-align: center;
}